:host {
    display: block;

    width: 100%;
    height: 100%;

    agm-map {
        display: block;
        width: 100%;
        height: 100%;

        agm-snazzy-info-window {
            width: 500px;
        }
    }
}